@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

:root {
    --primary: #fc5102;
    --defaultfontsize: 1rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
}

html {
    font-family: 'Montserrat', sans-serif;
    font-size: var(--defaultfontsize);
    text-rendering: optimizeSpeed;
}
