.wrapper.trans {
    height: 70px;
    background-color: rgba(0, 0, 0, 0);
    // opacity: 0%;
    width: 100vw;
    position: relative;
    // position: sticky;
    top: 0;
    z-index: 11;
    overflow: visible;
}

.wrapper.normal {
    background-color: var(--primary);
    height: 70px;
    opacity: 100%;
    width: 100vw;
    position: relative;
    position: sticky;
    top: 0;
    z-index: 11;
    overflow: visible;
    transition: ease-out 0.5s;
}

.inner {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: space-between;
}
.nav-logo {
    display: flex;
    justify-self: start;
    width: 2.5rem;
    margin-right: 200px;
}
.nav-menu {
    width: 35%;
}
.item-menu {
    display: flex;
    list-style: none;
    justify-content: space-between;
}
.nav-links {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}
.but {
    padding: 10px 15px;
    font-weight: bold;
    font-size: 18px;
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid #ffffff;
    border-radius: 25px;
    color: #ffffff;
    margin: 2px;
}
